<nav class="container is-max-desktop mt-4 px-4">
    <div class="columns is-multiline has-text-centered">
        <a href="" class="column">Daily Life</a>
        <a href="" class="column">Freedom</a>
        <a href="" class="column">Love</a>
    </div>
</nav>

<div class="container">
    <div class="hr"></div>
</div>

relationships
money
success
Health


