
<div class="container is-max-widescreen">
  <div class="hr"></div>
</div>

<nav class="container is-max-desktop mt-4 px-4">
  <div class="columns is-mobile is-multiline has-text-centered font2 is-size-5 ">
    <a href="" class="column dec-category-list-item ">Love</a>
    <a href="" class="column dec-category-list-item ">Parenting</a>
    <a href="" class="column dec-category-list-item ">Health</a>
    <a href="" class="column dec-category-list-item ">Success</a>
  </div>
</nav>


<div class="container is-max-widescreen">
  <div class="hr"></div>
</div>
