<nav class="container is-max-desktop mt-4 px-4">
  <div class="columns is-mobile is-multiline has-text-centered font2 is-size-5 has-text-black ">
    <a href="" class="column">Love</a>
    <a href="" class="column">Parenting</a>
    <a href="" class="column">Health</a>
    <a href="" class="column">Success</a>
  </div>
</nav>


<div class="container">
  <div class="hr"></div>
</div>
