
<!-- ================== -->
<!-- Footer -->
<!-- ================== -->    

<footer class="footer">
    <div class="container">
            
<!-- ================== -->
<!-- Footer 1 -->
<!-- ================== -->
<div class="columns is-multiline">
    <div class="column is-half-tablet is-4-desktop">
        <section>                
            <a href="/home" class="font1 is-uppercase has-text-weight-bold is-size-4 is-size-4-desktop is-size-3-fullhd dec-nav-font dec-link-black ">
                Freedom By The Word
            </a>
            <div  class=" font2 columns is-gapless is-desktop mt-3">
                <a href=""  class="column  is-narrow mr-4 has-text-weight-regular dec-link-black  is-size-5">Facebook</a>
                <a href=""  class="column has-text-weight-regular dec-link-black  is-size-5">Instagram</a>                                
            </div>
        </section>
    </div>
    
<!-- ================== -->
<!-- Footer 2 -->
<!-- ================== -->

    <div class="column is-half-tablet is-2-desktop">
        <section class="has-text-black ">
        <div class="block ">
            <h2 class="font2 has-text-weight-bold is-size-4 has-text-black">Location</h2>
            <p class="is-size-5 font2">1501 Virginia Beach Blvd, Virginia Beach, VA 23454</p>            
            <p  class="is-size-5 font2">(757) 437-4311</p>
        </div>
        <div class="block">
            <h2 class="has-text-weight-bold is-size-4 has-text-black">Sundays</h2>
            <p  class="is-size-5 font2">Starts at 11:30 AM</p>
        </div>
    </section>
    </div>

<!-- ================== -->
<!-- Footer 3 -->
<!-- ================== -->
<div class="column is-half-tablet is-2-desktop">
    <section class="is-flex is-flex-direction-column">
        <h2 class="has-text-weight-bold is-size-4 has-text-black">Quicklinks</h2>           
            <a href="/home" class="pt-3 dec-link-black is-size-5 font2">Home</a>
            <a href="/contact" class=" pt-3 dec-link-black is-size-5 font2">Contact</a>
                  
            <a href="/about" class="pt-3  dec-link-black is-size-5 font2">About</a>

    </section>
</div>


<div class="column is-half-tablet is-2-desktop">
    <section class="is-flex is-flex-direction-column">
        <h2 class="has-text-weight-bold is-size-4 has-text-black">Take Action</h2>     
        <a href="/discover" class="pt-3 dec-link-black is-size-5 font2">Discover</a>
        <a href="/give" class=" pt-3 dec-link-black is-size-5 font2">Give</a>


    </section>
</div>


<div class="column is-full is-2-desktop">
    <section class="is-flex is-flex-direction-column">
        <h2 class="has-text-weight-bold is-size-4 has-text-black">Get Involved</h2>                                    
        <a href="/ministries" class="pt-3 dec-link-black is-size-5 font2">Ministries</a>    
        <a href="/events" class="pt-3  dec-link-black is-size-5 font2">Events</a>  


    </section>
</div>


</div>

<!-- ================== -->
<!-- Signature -->
<!-- ================== -->

<div class="hr"></div>
<section class="mt-4">
    <div  class="is-flex-desktop is-flex-direction-row-reverse is-justify-content-space-between ">
    <div class="py-2 has-text-centered has-text-right-desktop">
        <p class=" font2 is-size-5 has-text-black">Built by <a href="https://cuffeeecommerce.com" class="dec-link-black">Cuffee E-Commerce</a></p>
    </div>
    <div class="py-2 has-text-centered has-text-left-desktop">
        <p class="font2 is-size-5 has-text-black">&copy; <span id="copyrightYear"></span> Freedom By The Word Ministry </a></p>            
    </div>       

    </div>
</section>

</div>
</footer>

</body>
</html>


