<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| Freedom By The Word Ministry</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
</head>
<body class="has-navbar-fixed-top">
        
    <!-- ================== -->
    <!-- Header -->
    <!-- ================== -->
    <header>

        <!-- ================== -->
        <!-- Nav Bar -->
        <!-- ================== -->
    
            <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
                <div class="container px-2 py-3">
                <div class="navbar-brand">
                    <a class="font1 navbar-item is-uppercase has-text-weight-bold is-size-5-mobile is-size-4-tablet dec-nav-font" href="/">
                        Freedom By The Word
                    </a>
                
                    <a role="button" class="navbar-burger is-large" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu" id="dec-navbar-menu">
                    <div class="dec-nav-list navbar-end font2 has-text-weight-semibold">
                        <a href="/discover" class="navbar-item is-size-3-mobile is-size-2-tablet mobile is-size-5-desktop dec-nav-font">Discover</a>
                        <a href="/ministries" class="navbar-item is-size-3-mobile is-size-2-tablet mobile is-size-5-desktop dec-nav-font">Ministries</a>
                        <a href="/events" class="navbar-item is-size-3-mobile is-size-2-tablet mobile is-size-5-desktop dec-nav-font">Events</a>
                        <a href="/about" class="navbar-item is-size-3-mobile is-size-2-tablet mobile is-size-5-desktop dec-nav-font">About</a>
                        <div class="buttons" id="dec-nav-button-wrapper">
                        <a href="/give" class="navbar-item button is-link is-size-4-mobile is-size-4-tablet mobile is-size-5-desktop font2" id="dec-nav-button">Give</a>                     
                        </div>       
                    </div>       
                </div>
                </div>
              </nav>
