<section class="has-background-black dec-home-give-bg-image">
    <div class="dec-mid-overlay py-6">
        <div class="container is-max-desktop has-text-centered px-2">
            <h2 class="font1 dec-section-title-size has-text-white has-text-weight-bold">Give</h2>
            <p class="pb-2 block has-text-white has-text-white font3 is-size-4">If you belive in what we are doing want us to continue the work we are doing, consider giving a donation.</p>
            <a href="#" class="button is-link font2 has-text-weight-bold is-large">Support Us</a> 
        </div> 
    </div>
</section>
