<%- include('partials/header'); -%>

        <!-- ================== -->
        <!-- Hero -->
        <!-- ================== -->
        <section class="hero is-black is-medium pt-5 dec-hero-bg-img">
            <div class="dec-hero-overlay">
            <div class="hero-body ">         
                <h1 class="title is-spaced has-text-centered  has-text-weight-bold font1" id="dec-hero-title">About
                    
                </h1>
                <p class="subtitle is-size-5-mobile is-size-4-tablet has-text-centered font2">
                    Subtitle
                </p>
    
                
    
    
            </div>
            </div>
          </section>
    
      
    
        </header>
    
    

    <!-- ================== -->
    <!-- Main -->
    <!-- ================== -->
    <main>

    <!-- ================== -->
    <!-- Our Mission -->

    <section class="section">
        <div class="container is-max-desktop has-text-centered">
        <header>
            <h2>Our Mission</h2>
        </header>

        <section class="dec-mission-card">
            <h3>Mission Phrase</h3>
            <p>Mission Detail</p>
        </section>

        <section class="dec-mission-card">
            <h3>Mission Phrase</h3>
            <p>Mission Detail</p>
        </section>


        <section class="dec-mission-card">
            <h3>Mission Phrase</h3>
            <p>Mission Detail</p>
        </section>


        <section class="dec-mission-card">
            <h3>Mission Phrase</h3>
            <p>Mission Detail</p>
        </section>

        </div>

    </section>





    <!-- ================== -->
    <!-- Meet Founders -->
   
        <section class="section">
    
           <div class="container">

            <header class="has-text-centered"> 
                <div >
                    <h2> Meet Our Founders</h2>
                </div>
                <div >
                    <img src="" alt="Founders of FBTW: Clinton & Joyce Cuffee">
                </div>
            </header>
        

            <div class="columns">
                <section class="column">
                    <h3>Clinton Cuffee</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim et velit sit illum, minima voluptates quibusdam facere non, libero, accusamus magni vel neque maiores earum ratione. Ullam dolore, tenetur dicta, ipsa laudantium ipsam accusamus perspiciatis sit inventore architecto optio. Voluptates?</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim et velit sit illum, minima voluptates quibusdam facere non, libero, accusamus magni vel neque maiores earum ratione. Ullam dolore, tenetur dicta, ipsa laudantium ipsam accusamus perspiciatis sit inventore architecto optio. Voluptates?</p>
                </section>


                <section class="column">
                    <h3>Joyce Cuffee</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim et velit sit illum, minima voluptates quibusdam facere non, libero, accusamus magni vel neque maiores earum ratione. Ullam dolore, tenetur dicta, ipsa laudantium ipsam accusamus perspiciatis sit inventore architecto optio. Voluptates?</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim et velit sit illum, minima voluptates quibusdam facere non, libero, accusamus magni vel neque maiores earum ratione. Ullam dolore, tenetur dicta, ipsa laudantium ipsam accusamus perspiciatis sit inventore architecto optio. Voluptates?</p>
                </section>
            </div>

            </div>

        </section>



    <!-- ================== -->
    <!-- Meet Staff -->

        <section class="">
            <div class="container">

                <header class="has-text-centered">
                    <h2> Meet Our Team</h2>
                </header>


                <div class="columns">

                    <div class="column">
                        <section class="team-member-card columns">
                            <div class="column">
                                <div class="has-text-centered has-text-left-tablet">
                                    <img src="" alt="Team Member">
                                </div>
                            </div>
                            <div class="column has-text-centered has-text-left-tablet">
                                <h3>Team Member Name</h3>
                                <p>Team Title</p>

                                <div class="">
                                    <a href="">Facebook</a>
                                    <a href="">Instagram</a>
                                </div>
                            </div>
                        </section>
                      </div>


                    

                       <div class="column">
                        <section class="team-member-card columns">
                            <div class="column">
                                <div class="has-text-centered has-text-left-tablet">
                                    <img src="" alt="Team Member">
                                </div>
                            </div>
                            <div class="column has-text-centered has-text-left-tablet">
                                <h3>Team Member Name</h3>
                                <p>Team Title</p>

                                <div class="">
                                    <a href="">Facebook</a>
                                    <a href="">Instagram</a>
                                </div>
                            </div>
                        </section>
                      </div>

                </div>

            </div>
    </section>

    </main>



<%- include('partials/footer'); -%>