<%- include('partials/header'); -%>

        <!-- ================== -->
        <!-- Hero -->
        <!-- ================== -->
        <section class="hero is-black is-medium pt-5 dec-hero-bg-img">
            <div class="dec-hero-overlay">
            <div class="hero-body ">         
                <h1 class="title is-spaced has-text-centered  has-text-weight-bold font1" id="dec-hero-title">About
                    
                </h1>
                <p class="subtitle is-size-5-mobile is-size-4-tablet has-text-centered font2">
                    Learn About Freedom By The Word Ministry
                </p>
    
                
    
    
            </div>
            </div>
          </section>
    
      
    
        </header>
    
    

    <!-- ================== -->
    <!-- Main -->
    <!-- ================== -->
    <main>

    <!-- ================== -->
    <!-- Our Mission -->

    <section class="section">
        <div class="container is-max-desktop">

        <header>
            <h2 class="is-uppercase has-text-weight-bold has-text-black font1 is-size-1 has-text-centered mb-5" >Our Mission</h2>
        </header>

        <section class="dec-mission-card mb-6">
            <h3 class="font1 is-size-3 has-text-weight-bold mb-2">1. This is a mission phrase about the mission</h3>
            <p class="font2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quos obcaecati, blanditiis fugiat, exercitationem similique error quo neque repellat fugit cumque officiis aliquam esse numquam.</p>
        </section>


        <section class="dec-mission-card mb-6">
            <h3 class="font1 is-size-3 has-text-weight-bold mb-2">2. This is a mission phrase about the mission</h3>
            <p class="font2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quos obcaecati, blanditiis fugiat, exercitationem similique error quo neque repellat fugit cumque officiis aliquam esse numquam.</p>
        </section>

        <section class="dec-mission-card">
            <h3 class="font1 is-size-3 has-text-weight-bold">3. This is a mission phrase about the mission</h3>
            <p class="font2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quos obcaecati, blanditiis fugiat, exercitationem similique error quo neque repellat fugit cumque officiis aliquam esse numquam.</p>
        </section>

   
        </div>

        
    </section>


    



    <!-- ================== -->
    <!-- Meet Founders -->
   
        <section class="section mt-6 mb-6 has-background-light">
    
           <div class="container is-max-widescreen pt-4 pb-6">
                       

            <header class="has-text-centered mb-5"> 
                <div class=" mb-5">
                    <h2 class="is-uppercase has-text-weight-bold has-text-black font1 is-size-1 has-text-centered"> Meet Our Founders</h2>
                    <p class="font2 has-text-black is-size-5">Clinton & Joyce Cuffee</p>
                </div>
                <div>
                    <img src="/images/test.jpg" class="dec-founders-image" alt="Founders of FBTW: Clinton & Joyce Cuffee">
                </div>
            </header>
        

            <div class="columns">
                <section class="column px-5">
                    <h3 class="font1 is-size-3 has-text-black has-text-weight-semibold">Clinton Cuffee</h3>
                    <p class="font2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim et velit sit illum, minima voluptates quibusdam facere non, libero, accusamus magni vel neque maiores earum ratione. Ullam dolore, tenetur dicta, ipsa laudantium ipsam accusamus perspiciatis sit inventore architecto optio. Voluptates?</p>
                    
                </section>


                <section class="column px-5">
                    <h3 class="font1 is-size-3 has-text-black has-text-weight-semibold">Joyce Cuffee</h3>
                    <p class="font2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim et velit sit illum, minima voluptates quibusdam facere non, libero, accusamus magni vel neque maiores earum ratione. Ullam dolore, tenetur dicta, ipsa laudantium ipsam accusamus perspiciatis sit inventore architecto optio. Voluptates?</p>
                 
                </section>
            </div>

            </div>

        </section>



    <!-- ================== -->
    <!-- Meet Staff -->

        <section class="section mb-6">
            <div class="container is-max-widescreen">
               


                <header class="has-text-centered">
                    <h2 class="is-uppercase has-text-weight-bold has-text-black font1 is-size-1 has-text-centered mb-6" > Meet Our Team</h2>
                </header>


                <div class="columns is-multiline">

                   
                      
                    <div class="column is-full-tablet is-half-desktop  mb-5">
                        <section class="team-member-card columns">
                            <div class="column">
                                <div class="has-text-centered has-text-left-tablet">   
                                        <img src="/images/test.jpg" class="dec-team-image" alt="Team Member">
                                </div>
                            </div>
                            <div class="column has-text-centered has-text-left-tablet">
                                <h3 class="font1 has-text-weight-semibold is-size-3 has-text-black ">Latrice Cuffee</h3>
                                <p class="font2 is-size-4">Assistant Pastor</p>

                                <div class="font2 is-uppercase mt-5">
                                    <a href="" class="mr-4">Facebook</a>
                                    <a href="">Instagram</a>
                                </div>
                            </div>
                        </section>
                      </div>




                      
                    <div class="column is-full-tablet is-half-desktop mb-5">
                        <section class="team-member-card columns">
                            <div class="column">
                                <div class="has-text-centered has-text-left-tablet ">   
                                        <img src="/images/test.jpg" class="dec-team-image"   alt="Team Member">
                                </div>
                            </div>
                            <div class="column has-text-centered has-text-left-tablet">
                                <h3 class="font1 has-text-weight-semibold is-size-3 has-text-black">Tiera Godwin</h3>
                                <p class="font2 is-size-4">Audio/Video Tech</p>

                                <div class="font2 is-uppercase mt-5">
                                    <a href="" class="mr-4">Facebook</a>
                                    <a href="">Instagram</a>
                                </div>
                            </div>
                        </section>
                      </div>




                    

                </div>

            </div>
    </section>

    </main>



<%- include('partials/footer'); -%>