<%- include('partials/header'); -%>


        <!-- ================== -->
        <!-- Hero -->
        <!-- ================== -->
        <section class="hero is-black is-medium pt-5 dec-hero-bg-img">
            <div class="dec-hero-overlay">
            <div class="hero-body ">
                <p class="is-size-5-mobile is-size-4-tablet has-text-centered font2 is-underlined pb-2">
                    Discover
                </p>
    
                <h1 class="title is-spaced has-text-centered  has-text-weight-bold font1" id="dec-hero-title">Category
                    
                </h1>
                <p class="subtitle is-size-5-mobile is-size-4-tablet has-text-centered font2">
                    Latest and Featured in Discover A Better Way to Live
                </p>
    
                
    
    
            </div>
            </div>
          </section>


          
    
      
    
        </header>
    
    

    <!-- ================== -->
    <!-- Main -->
    <!-- ================== -->
    <main>
       
   <!-- ================== -->
    <!-- Discover Category Nav -->
    <!-- ================== -->

  
    <%- include('partials/discover_categories_list'); -%>





        

        

    <!-- ================== -->
    <!-- First List of Articles -->
    <!-- ================== -->


    <section class="sectionn px-4">
        <div class="container is-max-widescreen mb-6">

           

            <div class="columns">
                <div class="column is-two-thirds">

                    <section class="columns">
                        <div class="column"><img src="" alt="Article Image"></div>
                        <div class="column">Article info</p></div>
                    </section>
                    

                    <section class="columns">
                        <div class="column"><img src="" alt="Article Image"></div>
                        <div class="column">Article info</p></div>
                    </section>
                    

                    <section class="columns">
                        <div class="column"><img src="" alt="Article Image"></div>
                        <div class="column">Article info</p></div>
                    </section>

                    <section class="columns">
                        <div class="column"><img src="" alt="Article Image"></div>
                        <div class="column">Article info</p></div>
                    </section>
                                        
            
                </div>


                <div class="column">
                    Ad
                    <img src="" alt="Advertisement">
                
                



                
                </div>
            
            </div>

        </div>

    </section>



    
    <!-- ================== -->
    <!-- Continued List of Articles -->
    <!-- ================== -->



<section class="sectionn px-4">
    <div class="container is-max-widescreen mb-6">

        <div class="hr"></div>

        <div class="">

            <section class="columns">
                <div class="column"><img src="" alt="Article Image"></div>
                <div class="column">Article info</p></div>
            </section>
            

            <section class="columns">
                <div class="column"><img src="" alt="Article Image"></div>
                <div class="column">Article info</p></div>
            </section>

            <section class="columns">
                <div class="column"><img src="" alt="Article Image"></div>
                <div class="column">Article info</p></div>
            </section>
        </div>
    
    </div>
</section>


<section class="">
    <div class="container mb-6">
        <div class="">
            <img src="" alt="Advertisment">
        </div>
    </div>
</section>



    <!-- ================== -->
    <!-- Support Us -->
    <!-- ================== -->

    
    <%- include('partials/support_us'); -%>



</main>



<%- include('partials/footer'); -%>