<%- include('partials/header'); -%>


        <!-- ================== -->
        <!-- Hero -->
        <!-- ================== -->
        <section class="hero is-black is-medium pt-5 dec-hero-bg-img">
            <div class="dec-hero-overlay">
            <div class="hero-body ">
                <p class="is-size-5-mobile is-size-4-tablet has-text-centered font2 is-underlined pb-2">
                    Discover
                </p>
    
                <h1 class="title is-spaced has-text-centered  has-text-weight-bold font1" id="dec-hero-title">Category
                    
                </h1>
                <p class="subtitle is-size-5-mobile is-size-4-tablet has-text-centered font2">
                    Discover A Better Way to _____
                </p>
    
                
    
    
            </div>
            </div>
          </section>


          
    
      
    
        </header>
    
    

    <!-- ================== -->
    <!-- Main -->
    <!-- ================== -->
    <main>
       
   <!-- ================== -->
    <!-- Discover Category Nav -->
    <!-- ================== -->

  
    <%- include('partials/discover_categories_list'); -%>



    <!-- ================== -->
    <!-- Article List 1 -->
    <!-- ================== -->

    <section class="sectionn pt-6 px-4">
        <div class="container is-max-widescreen mb-6">
   
   
 
    <div class="columns is-multiline">

        <div class="column is-full-tablet is-two-thirds-desktop">
            <div class="columns is-multiline">

                <!-- Article Link -->

                    <article class="mb-3 column is-half-tablet is-full-desktop">
                        <div class="columns is-multiline">
                            <div class="column is-full-tablet is-one-third-desktop">

                                <a href="">
                                    <img src="/images/test.jpg" class="dec-home-discover-article-images-2" alt="Article Image">
                                </a>
    
                   

                            </div>
                            <div class="column is-full-tablet is-two-thirds-desktop">

                                <a href="#"><p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p></a>
                                <a href="">
                                    <h4 class="is-size-3-mobile is-size-4-tablet is-size-5-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4>
                                </a>
                        
                                <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                
                                <a href="">
                                    <p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p>
                                </a> 
                            </div>    
                        </div>
                    </article>
                    
                    


                   <!-- Article Link -->

                    <article class="mb-3 column is-half-tablet is-full-desktop">
                        <div class="columns is-multiline">
                            <div class="column is-full-tablet is-one-third-desktop">

                                <a href="">
                                    <img src="/images/test.jpg" class="dec-home-discover-article-images-2" alt="Article Image">
                                </a>
    
                   

                            </div>
                            <div class="column is-full-tablet is-two-thirds-desktop">

                                <a href="#"><p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p></a>
                                <a href="">
                                    <h4 class="is-size-3-mobile is-size-4-tablet is-size-5-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4>
                                </a>
                        
                                <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                
                                <a href="">
                                    <p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p>
                                </a> 
                            </div>    
                        </div>
                    </article>


                             <!-- Article Link -->

                    <article class="mb-3 column is-half-tablet is-full-desktop">
                        <div class="columns is-multiline">
                            <div class="column is-full-tablet is-one-third-desktop">

                                <a href="">
                                    <img src="/images/test.jpg" class="dec-home-discover-article-images-2" alt="Article Image">
                                </a>
    
                   

                            </div>
                            <div class="column is-full-tablet is-two-thirds-desktop">

                                <a href="#"><p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p></a>
                                <a href="">
                                    <h4 class="is-size-3-mobile is-size-4-tablet is-size-5-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4>
                                </a>
                        
                                <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                
                                <a href="">
                                    <p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p>
                                </a> 
                            </div>    
                        </div>
                    </article>


                             <!-- Article Link -->

                    <article class="mb-3 column is-half-tablet is-full-desktop">
                        <div class="columns is-multiline">
                            <div class="column is-full-tablet is-one-third-desktop">

                                <a href="">
                                    <img src="/images/test.jpg" class="dec-home-discover-article-images-2" alt="Article Image">
                                </a>
    
                   

                            </div>
                            <div class="column is-full-tablet is-two-thirds-desktop">

                                <a href="#"><p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p></a>
                                <a href="">
                                    <h4 class="is-size-3-mobile is-size-4-tablet is-size-5-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4>
                                </a>
                        
                                <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                
                                <a href="">
                                    <p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p>
                                </a> 
                            </div>    
                        </div>
                    </article>

                
            </div>
        </div>


        <div class="column is-full-tablet is-one-third-desktop">
           
        </div>
            
    
    </div>

    </div>
</section>

    <!-- ================== -->
    <!-- Promotion -->
    <!-- ================== -->

    <section class=" px-4 mb-3">        
        <div class="container is-max-widescreen mb-6 has-text-centered">            
            <a href="/#" class="is-block">
            <picture>
                <source media="(min-width:1024px)" srcset="/images/horz-vert-desktop.png">
                <source media="(min-width:769px)" srcset="/images/horz-vert-tablet.png">
                <source media="(max-width:768px)" srcset="/images/horz-vert-mobile.png">                   
                <img src="/images/horz-vert-desktop.png" alt="Promotion" style="width:auto;" class="opacity-hover">
            </picture>
            </a> 
        </div>
    </section>
        

        
    <!-- ================== -->
    <!-- Article List 2 -->
    <!-- ================== -->

    <section class="sectionn px-4">
        <div class="container is-max-widescreen mb-6">
   
    <div class="hr"></div>


 

    <div class="columns is-multiline">

        <div class="column is-full-tablet is-two-thirds-desktop">
            <div class="columns is-multiline">

                <!-- Article Link -->

                    <article class="mb-3 column is-half-tablet is-full-desktop">
                        <div class="columns is-multiline">
                            <div class="column is-full-tablet is-one-third-desktop">

                                <a href="">
                                    <img src="/images/test.jpg" class="dec-home-discover-article-images-2" alt="Article Image">
                                </a>
    
                   

                            </div>
                            <div class="column is-full-tablet is-two-thirds-desktop">

                                <a href="#"><p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p></a>
                                <a href="">
                                    <h4 class="is-size-3-mobile is-size-4-tablet is-size-5-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4>
                                </a>
                        
                                <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                
                                <a href="">
                                    <p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p>
                                </a> 
                            </div>    
                        </div>
                    </article>
                    
                    


                   <!-- Article Link -->

                    <article class="mb-3 column is-half-tablet is-full-desktop">
                        <div class="columns is-multiline">
                            <div class="column is-full-tablet is-one-third-desktop">

                                <a href="">
                                    <img src="/images/test.jpg" class="dec-home-discover-article-images-2" alt="Article Image">
                                </a>
    
                   

                            </div>
                            <div class="column is-full-tablet is-two-thirds-desktop">

                                <a href="#"><p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p></a>
                                <a href="">
                                    <h4 class="is-size-3-mobile is-size-4-tablet is-size-5-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4>
                                </a>
                        
                                <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                
                                <a href="">
                                    <p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p>
                                </a> 
                            </div>    
                        </div>
                    </article>


                             <!-- Article Link -->

                    <article class="mb-3 column is-half-tablet is-full-desktop">
                        <div class="columns is-multiline">
                            <div class="column is-full-tablet is-one-third-desktop">

                                <a href="">
                                    <img src="/images/test.jpg" class="dec-home-discover-article-images-2" alt="Article Image">
                                </a>
    
                   

                            </div>
                            <div class="column is-full-tablet is-two-thirds-desktop">

                                <a href="#"><p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p></a>
                                <a href="">
                                    <h4 class="is-size-3-mobile is-size-4-tablet is-size-5-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4>
                                </a>
                        
                                <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                
                                <a href="">
                                    <p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p>
                                </a> 
                            </div>    
                        </div>
                    </article>


                             <!-- Article Link -->

                    <article class="mb-3 column is-half-tablet is-full-desktop">
                        <div class="columns is-multiline">
                            <div class="column is-full-tablet is-one-third-desktop">

                                <a href="">
                                    <img src="/images/test.jpg" class="dec-home-discover-article-images-2" alt="Article Image">
                                </a>
    
                   

                            </div>
                            <div class="column is-full-tablet is-two-thirds-desktop">

                                <a href="#"><p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p></a>
                                <a href="">
                                    <h4 class="is-size-3-mobile is-size-4-tablet is-size-5-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4>
                                </a>
                        
                                <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                
                                <a href="">
                                    <p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p>
                                </a> 
                            </div>    
                        </div>
                    </article>

                
            </div>
        </div>


        <div class="column is-full-tablet is-one-third-desktop">
           
        </div>
            
    
    </div>

    </div>
</section>

    <!-- ================== -->
    <!-- Promotion -->
    <!-- ================== -->

    <section class=" px-4">        
        <div class="container is-max-widescreen mb-6 has-text-centered">            
            <a href="/#" class="is-block">
            <picture>
                <source media="(min-width:1024px)" srcset="/images/horz-vert-desktop.png">
                <source media="(min-width:769px)" srcset="/images/horz-vert-tablet.png">
                <source media="(max-width:768px)" srcset="/images/horz-vert-mobile.png">                   
                <img src="/images/horz-vert-desktop.png" alt="Promotion" style="width:auto;" class="opacity-hover">
            </picture>
            </a> 
        </div>
    </section>





    <!-- ================== -->
    <!-- Support Us -->
    <!-- ================== -->

    
    <%- include('partials/support_us'); -%>



</main>



<%- include('partials/footer'); -%>