<%- include('partials/header'); -%>


        <!-- ================== -->
        <!-- Hero -->
        <!-- ================== -->
        <section class="hero is-black is-medium pt-5 dec-hero-bg-img">
            <div class="dec-hero-overlay">
            <div class="hero-body ">         
                <h1 class="title is-spaced has-text-centered  has-text-weight-bold font1" id="dec-hero-title">Discover
                    
                </h1>
                <p class="subtitle is-size-5-mobile is-size-4-tablet has-text-centered font2">
                    Latest and Featured in Discover A Better Way to Live
                </p>
    
                
    
    
            </div>
            </div>
          </section>


          
    
      
    
        </header>
    
    

    <!-- ================== -->
    <!-- Main -->
    <!-- ================== -->
    <main>
       
    <!-- ================== -->
    <!-- Discover Category Nav -->
    <!-- ================== -->

  
    <%- include('partials/discover_categories_list'); -%>


        

        
  <!-- ================== -->
    <!-- Top Articles -->
    <!-- ================== -->
    <section class="px-4">
        <div class="container is-max-widescreen mb-6">        
        
            <section class="block pt-2">            
                <h3 class="py-2 is-size-5 font2 has-text-black has-text-weight-bold">Featured</h3>
                <div class="columns">
                    <div class="column is-half">
                        <a href=""><img src="../images/test.jpg" class="dec-home-discover-featured" alt="Freedom By The Word Article Image"></a>
                    </div>
                    <div class="column">
                        <a href="" class="block is-size-6 is-uppercase has-text-link font2 ">Special Series</a>
                        <a href=""><h4 class="block is-size-2-mobile is-size-1 has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4></a> 
                        <p class="pb-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                        <a href=""><p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p></a>   
                    </div>   
                        </div>
            </section>
    
            <div class="hr"></div>
            
    
            <section>
                <h3 class="pb-4 is-size-5 font2 has-text-black has-text-weight-bold">Latest in Discover A Better Way to Live</h3>
    
                <div class="columns is-multiline">
    
                        <div class="column is-half-tablet is-one-third-desktop">
                                <article>               
                                    <p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p>
                                    <a href=""><img src="../images/test.jpg" class="dec-home-discover-article-images" alt="Freedom By The Word Article Image"></a>
                                    <a href=""><h4 class="is-size-2-mobile is-size-3-tablet is-size-4-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4></a>
                                    <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                    <a href=""><p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p></a>      
                                </article>
                            </div>
    
    
                            <div class="column is-half-tablet is-one-third-desktop">
                                <article>               
                                    <p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p>
                                    <a href=""><img src="../images/test.jpg" class="dec-home-discover-article-images" alt="Freedom By The Word Article Image"></a>
                                    <a href=""><h4 class="is-size-2-mobile is-size-3-tablet is-size-4-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4></a>
                                    <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                    <a href=""><p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p></a>      
                                </article>
                            </div>
    
    
                            <div class="column is-half-tablet is-one-third-desktop">
                                <article>               
                                    <p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p>
                                    <a href=""><img src="../images/test.jpg" class="dec-home-discover-article-images" alt="Freedom By The Word Article Image"></a>
                                    <a href=""><h4 class="is-size-2-mobile is-size-3-tablet is-size-4-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4></a>
                                    <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                    <a href=""><p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p></a>      
                                </article>
                            </div>
    
                    
    
            </div>
    
            </section>
    
    
    
    
        </div>
    </section>
    





    <!-- ================== -->
    <!-- First List of Articles -->
    <!-- ================== -->


    <section class="sectionn px-4">
        <div class="container is-max-widescreen mb-6">

            <div class="hr"></div>
            <div class="hr"></div>

            <div class="columns">
                <div class="column is-two-thirds">

                    <section class="columns">
                        <div class="column"><img src="" alt="Article Image"></div>
                        <div class="column">Article info</p></div>
                    </section>
                    

                    <section class="columns">
                        <div class="column"><img src="" alt="Article Image"></div>
                        <div class="column">Article info</p></div>
                    </section>
                    

                    <section class="columns">
                        <div class="column"><img src="" alt="Article Image"></div>
                        <div class="column">Article info</p></div>
                    </section>

                    <section class="columns">
                        <div class="column"><img src="" alt="Article Image"></div>
                        <div class="column">Article info</p></div>
                    </section>
                                        
            
                </div>


                <div class="column">
                    Ad
                    <img src="" alt="Advertisement">
                
                



                
                </div>
            
            </div>

        </div>

    </section>



    
    <!-- ================== -->
    <!-- Continued List of Articles -->
    <!-- ================== -->



<section class="sectionn px-4">
    <div class="container is-max-widescreen mb-6">

        <div class="hr"></div>

        <div class="">

            <section class="columns">
                <div class="column"><img src="" alt="Article Image"></div>
                <div class="column">Article info</p></div>
            </section>
            

            <section class="columns">
                <div class="column"><img src="" alt="Article Image"></div>
                <div class="column">Article info</p></div>
            </section>

            <section class="columns">
                <div class="column"><img src="" alt="Article Image"></div>
                <div class="column">Article info</p></div>
            </section>
        </div>
    
    </div>
</section>


<section class="">
    <div class="container mb-6">
        <div class="">
            <img src="" alt="Advertisment">
        </div>
    </div>
</section>



    <!-- ================== -->
    <!-- Support Us -->
    <!-- ================== -->

    
    <%- include('partials/support_us'); -%>



</main>



<%- include('partials/footer'); -%>