<%- include('partials/header'); -%>

 
        <!-- ================== -->
        <!-- Hero -->
        <!-- ================== -->
        <section class="hero is-black is-medium pt-5 dec-hero-bg-img">
            <div class="dec-hero-overlay">
            <div class="hero-body ">         
                <h1 class="title is-spaced has-text-centered  has-text-weight-bold font1" id="dec-hero-title">Give
                    
                </h1>
                <p class="subtitle is-size-5-mobile is-size-4-tablet has-text-centered font2">
                    Subtitle
                </p>
    
                
    
    
            </div>
            </div>
          </section>
    
      
    
        </header>
    
    

    <!-- ================== -->
    <!-- Main -->
    <!-- ================== -->
    <main>

        <section class="section has-background-light">
            <div class="container is-max-desktop pt-2 pb-4">

                <div class="has-text-centered">
                    <p class="font1 is-size-4  has-text-link mb-3">The Gift of Giving</p>
                    <h2 class="is-uppercase has-text-weight-bold has-text-black font1 is-size-1 has-text-centered mb-4" > How To Give</h2>                    
                </div>

                <div class="block has-text-centered mt-4">
                    <p class="font2 block">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, dignissimos laborum possimus incidunt quidem nemo perferendis quaerat tempore, quis vero corporis id, distinctio maiores aspernatur repellendus doloremque asperiores! Asperiores, obcaecati.</p>
                    <p class="font2 block">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, dignissimos laborum possimus incidunt quidem nemo perferendis quaerat tempore, quis vero corporis id, distinctio maiores aspernatur repellendus doloremque asperiores! Asperiores, obcaecati.</p>
                </div>
                <div class="is-flex is-justify-content-center">
                    <div class="is-flex-tablet mt-2 has-text-centered" >
                        <div class="m-4">
                            <a href="" class="button is-link font2 has-text-weight-bold is-large">Method</a>
                        </div>
                        
                        <div class="m-4">
                            <a href="" class="button is-link font2 has-text-weight-bold is-large">Method</a>
                        </div>

                        <div class="m-4">
                            <a href="" class="button is-link font2 has-text-weight-bold is-large">Method</a>
                        </div>
                    </div>
                </div>

            </div>

        </section>








        <section class="section">
            <div class="container is-max-widescreen py-5">

                <header class="mb-6">
                    <h2 class="is-uppercase has-text-weight-bold has-text-black font1 is-size-1 has-text-centered mb-2" > The Blessing of Giving</h2>
                    <p class="font2 has-text-black is-size-4  has-text-centered ">Why Support Our Mission?</p>
                </header>

                <article class="columns is-multiline">

                    <div class="column is-full-tablet is-two-fifths-desktop has-text-centered-tablet">
                        <img src="/images/test4.jpg" class="give-page-image" alt="Give Image">
                    </div>


                    <div class="column is-full-tablet is-three-fifths-desktop is-flex-tablet-only is-flex-direction-column is-align-items-center">
                            <div class="bloc mb-6">
                                <h3 class="has-text-weight-bold has-text-black font1 is-size-5 mb-3">1. Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                                <p class="font2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, eligendi.</p>
                            </div>
                            <div class="bloc mb-6">
                                <h3 class="has-text-weight-bold has-text-black font1 is-size-5 mb-3">2. Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                                <p class="font2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, eligendi.</p>
                            </div>
                            <div class="bloc mb-6">
                                <h3 class="has-text-weight-bold has-text-black font1 is-size-5 mb-3">3. Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                                <p class="font2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, eligendi.</p>
                            </div>
                            <div class="bloc mb-6">
                                <h3 class="has-text-weight-bold has-text-black font1 is-size-5 mb-3">4. Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                                <p class="font2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, eligendi.</p>
                            </div>



                    </div>
            

                </article>

            </div>

        </section>





    </main>




<%- include('partials/footer'); -%>