<%- include('partials/header'); -%>

     

        <!-- ================== -->
        <!-- Hero -->
        <!-- ================== -->
        <section class="hero is-black is-large pt-5 dec-hero-bg-img">
            <div class="dec-hero-overlay">
            <div class="hero-body ">         
                <h1 class="title is-spaced has-text-centered  has-text-weight-bold font1" id="dec-hero-title">Discover A Better Way
                    
                </h1>
                <p class="subtitle is-size-5-mobile is-size-4-tablet has-text-centered font2">
                    Start living a new life at Freedom By The Word Ministry 
                </p>
    
                <div class="has-text-centered pt-6">
                    <a href="#" class="button is-medium is-link font2 is-size-4-tablet" id="dec-hero-btn"> Start Exploring</a>
                </div>
    
    
            </div>
            </div>
          </section>
    
      
    
        </header>
    
    

    <!-- ================== -->
    <!-- Main -->
    <!-- ================== -->
    <main>







      

    <!-- ================== -->
    <!--  About -->
    <!-- ================== -->
 
    <section class="section has-background-white-ter">
        <div class="container py-5">
                <div class="columns">
                        <div class="column">
                            <img src="../images/test.jpg" class="dec-about-image" alt="Freedom By The Word">                            
                        </div>
                <div class="column">
                        <h2 class="block has-text-weight-bold is-size-4 font1 has-text-black">  It's not easy navigating everyday life.  But there is an answer.</h2>
                        <p class="block font2">
                            From the first moment we wake up in the morning, life is coming at us.  If it's not family it's friends.  If it's not friends it's co-workers.  If it's not co-workers it's random people.  On top of people we face issues with sickness, housing, cars, food, and more.  
                           <br><br>
                           We believe that we can find answers to life's challenges in the Bible.  We want to help you use the wisdom of God to find a better way to live.</p>
                        <div class="">
                            <a href="#" class="button is-link font2 has-text-weight-bold is-medium">More About Us</a>                            
                        </div>
                </div>
        </div>
</section>



    <!-- ================== -->
    <!-- Discover -->
    <!-- ================== -->
<section class="section">
    <div class="container is-max-widescreen mb-6">
        <header>
        <h2 class="has-text-centered has-text-weight-bold font1 has-text-black dec-section-title-size">Discover</h2>
        <p class="has-text-centered is-size-5 font2">Latest and Featured in Discover A Better Way to Live</p>
        </header>

        
        <section class="block pt-2">            
            <h3 class="py-2 is-size-5 font2 has-text-black has-text-weight-bold">Featured</h3>
            <div class="columns">
                <div class="column is-half">
                    <a href="#"><img src="../images/test.jpg" class="dec-home-discover-featured" alt="Freedom By The Word Article Image"></a>
                </div>
                <div class="column">
                    <a href="#" class="block is-size-6 is-uppercase has-text-link font2 ">Special Series</a>
                    <a href="#"><h4 class="block is-size-2-mobile is-size-1 has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4></a> 
                    <p class="pb-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                    <a href="#"><p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p></a>   
                </div>   
                    </div>
        </section>

        <div class="hr"></div>
        

        <section>
            <h3 class="pb-4 is-size-5 font2 has-text-black has-text-weight-bold">Latest in Discover A Better Way to Live</h3>

            <div class="columns is-multiline">

                    <div class="column is-half-tablet is-one-third-desktop">
                            <article>               
                                <a href="#"><p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p></a>
                                <a href="#"><img src="../images/test.jpg" class="dec-home-discover-article-images" alt="Freedom By The Word Article Image"></a>
                                <a href="#"><h4 class="is-size-2-mobile is-size-3-tablet is-size-4-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4></a>
                                <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                <a href="#"><p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p></a>      
                            </article>
                        </div>


                        <div class="column is-half-tablet is-one-third-desktop">
                            <article>               
                                <a href="#"><p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p></a>
                                <a href="#"><img src="../images/test.jpg" class="dec-home-discover-article-images" alt="Freedom By The Word Article Image"></a>
                                <a href="#"><h4 class="is-size-2-mobile is-size-3-tablet is-size-4-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4></a>
                                <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                <a href="#"><p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p></a>      
                            </article>
                        </div>


                        <div class="column is-half-tablet is-one-third-desktop">
                            <article>               
                                <a href="#"><p class="pb-2 is-size-6 is-uppercase has-text-link font2">Special Series</p></a>
                                <a href="#"><img src="../images/test.jpg" class="dec-home-discover-article-images" alt="Freedom By The Word Article Image"></a>
                                <a href="#"><h4 class="is-size-2-mobile is-size-3-tablet is-size-4-desktop has-text-weight-bold dec-link-black font1"> 10 Leaders Evangelicals Lost in 2022</h4></a>
                                <p class="py-3 font2 is-size-5">Remembering a Bible smuggler, a speechwriter, a queen, and others.</p>
                                <a href="#"><p class="font2 is-size-6 has-text-weight-medium ">Divino Viktoro</p></a>      
                            </article>
                        </div>

                

        </div>

        </section>

	<section class="has-text-centered pt-6">
		<a href="/discover" class="button is-large is-link font2 has-text-weight-bold is-medium">View All Discover</a>
	<section>




    </div>
</section>


    <!-- ================== -->
    <!-- Ministries -->
    <!-- ================== -->
    <div class="has-background-black dec-home-ministries-bg-image">
    <section class="section dec-dark-overlay">
        <div class="container py-6" >
            <header class="has-text-centered block pb-3 ">
                <h2 class="has-text-weight-bold font1 has-text-white dec-section-title-size">Our Ministries</h2>
                <p class="has-text-white font2 is-size-5">We have ministries to serve those who are Military, Entrepreneurs, Interns, Men, Women, Married Couple, and more. </p>                
            </header>


            <section>
                
                <div class="dec-home-ministries-image has-background-dark dec-home-cta-box">
                    <div class="dec-mid-overlay">
                        <div class="dec-home-cta-box-flex" >
                            <div class="">
                            <p class="block font2 has-text-white has-text-weight-bold">Find Answers </br>Find Freedom</p>
                            <a href="/ministries" class="button is-link font2 has-text-weight-bold is-large">Learn More</a>        
                            </div>
                        </div>                
                    </div>
                </div>           
            </section>
            


        </div>
    </section>
</div>

    



    <!-- ================== -->
    <!-- Events -->
    <!-- ================== -->



    <section class="section">
        <div class="container  is-max-widescreen  pb-6">
            
            <header class="block has-text-centered">
                <h2 class="has-text-weight-bold font1 has-text-black dec-section-title-size ">Events</h2>
                <p class="has-text-centered is-size-5 font2">Review Our Most Upcoming Events</p>
            </header>

            <!-- Event Month -->           

            <section class=" block pt-1">
                <div class="hr block mb-6"></div>
                <div class="columns is-multiline">
                    <div class="column is-full-tablet is-one-third-desktop is-half-widescreen">
                        <h3 class="is-uppercase has-text-weight-bold has-text-black font1 is-size-1 has-text-centered has-text-left-desktop">December</h3>
                    </div>

                    <div class="column">
                    
                        <!-- Event  Posting -->
                      
                        <article class="columns pb-4">
                            <div class="column">                                
                                <figure class="image is-5by4">
                                    <a href="#">
                                        <img src="../images/test.jpg" class="dec-object-fit dec-border-radius"  alt="Freedom By The Word Event">
                                    </a>
                                </figure>
                            </div>
                            <div class="column">
                                <a href="#"><h4 class="font1 has-text-weight-bold has-text-black font1 is-size-3 is-size-4-desktop  ">Be Rich Service Opportunities</h4></a>
                                <p class="mt-1 font2 has-text-weight-bold has-text-link is-size-5  ">December 31, 2022</p>
                                <p class="font2 mt-1 has-text-weight-bold">Serve a Nonprofit</p>
                                <p class="font2 my-3">Register for a service opportunity and make a difference.</p>
                                <div class="has-text-centered has-text-left-tablet">
                                    <a href="#" class=" button is-link font2 has-text-weight-bold is-medium">Details</a>    
                                </div>
                            </div>                          
                        </article>

                           <!-- Event  Posting -->

                           <article class="columns pb-4">
                            <div class="column">                                
                                <figure class="image is-5by4">
                                    <a href="#">
                                        <img src="../images/test.jpg" class="dec-object-fit dec-border-radius"  alt="Freedom By The Word Event">
                                    </a>
                                </figure>
                            </div>
                            <div class="column">
                                <a href="#"><h4 class="font1 has-text-weight-bold has-text-black font1 is-size-3 is-size-4-desktop  ">Be Rich Service Opportunities</h4></a>
                                <p class="mt-1 font2 has-text-weight-bold has-text-link is-size-5  ">December 31, 2022</p>
                                <p class="font2 mt-1 has-text-weight-bold">Serve a Nonprofit</p>
                                <p class="font2 my-3">Register for a service opportunity and make a difference.</p>
                                <div class="has-text-centered has-text-left-tablet">
                                    <a href="#" class=" button is-link font2 has-text-weight-bold is-medium">Details</a>    
                                </div>
                            </div>                          
                        </article>


                    </div>               
                </div>                               
            </section>



 <!-- Event Month -->    

            <section class=" block pt-1">
                <div class="hr block mb-6"></div>
                <div class="columns is-multiline">
                    <div class="column is-full-tablet is-one-third-desktop is-half-widescreen">
                        <h3 class="is-uppercase has-text-weight-bold has-text-black font1 is-size-1 has-text-centered has-text-left-desktop">January</h3>
                    </div>

                    <div class="column">
                    
                        <!-- Event  Posting -->
                      
                        <article class="columns pb-4">
                            <div class="column">                                
                                <figure class="image is-5by4">
                                    <a href="#">
                                        <img src="../images/test.jpg" class="dec-object-fit dec-border-radius"  alt="Freedom By The Word Event">
                                    </a>
                                </figure>
                            </div>
                            <div class="column">
                                <a href="#"><h4 class="font1 has-text-weight-bold has-text-black font1 is-size-3 is-size-4-desktop  ">Be Rich Service Opportunities</h4></a>
                                <p class="mt-1 font2 has-text-weight-bold has-text-link is-size-5  ">December 31, 2022</p>
                                <p class="font2 mt-1 has-text-weight-bold">Serve a Nonprofit</p>
                                <p class="font2 my-3">Register for a service opportunity and make a difference.</p>
                                <div class="has-text-centered has-text-left-tablet">
                                    <a href="#" class=" button is-link font2 has-text-weight-bold is-medium">Details</a>    
                                </div>
                            </div>                          
                        </article>


                           <!-- Event  Posting -->

                           <article class="columns pb-4">
                            <div class="column">                                
                                <figure class="image is-5by4">
                                    <a href="#">
                                        <img src="../images/test.jpg" class="dec-object-fit dec-border-radius"  alt="Freedom By The Word Event">
                                    </a>
                                </figure>
                            </div>
                            <div class="column">
                                <a href="#"><h4 class="font1 has-text-weight-bold has-text-black font1 is-size-3 is-size-4-desktop  ">Be Rich Service Opportunities</h4></a>
                                <p class="mt-1 font2 has-text-weight-bold has-text-link is-size-5  ">December 31, 2022</p>
                                <p class="font2 mt-1 has-text-weight-bold">Serve a Nonprofit</p>
                                <p class="font2 my-3">Register for a service opportunity and make a difference.</p>
                                <div class="has-text-centered has-text-left-tablet">
                                    <a href="#" class=" button is-link font2 has-text-weight-bold is-medium">Details</a>    
                                </div>
                            </div>                          
                        </article>


                    </div>               
                </div>                               
            </section>





	<section class="has-text-centered pt-6">
		<a href="#" class="button is-large is-link font2 has-text-weight-bold is-medium">View All Events</a>
	<section>


            

        </div>
    </section>
        


    <!-- ================== -->
    <!-- Support Us -->
    <!-- ================== -->


    <%- include('partials/support_us'); -%>
    

    
</main>





<%- include('partials/footer'); -%>


