   
    <%- include('partials/header'); -%>


        <!-- ================== -->
        <!-- Hero -->
        <!-- ================== -->
        <section class="hero is-black is-medium dec-hero-bg-img" style="background-image:url('/images/test.jpg');">
            <div class="dec-hero-overlay">
            <div class="hero-body ">         
                <p class="is-size-5-mobile is-size-4-tablet has-text-centered font2 is-underlined pb-2">
                    Events
                </p>    

                <h1 class="title is-spaced has-text-centered  has-text-weight-bold font1 pt-1" id="dec-post-hero-title">Post Event Title
                </h1>

                <p class="subtitle is-size-5-mobile is-size-4-tablet has-text-centered font2">
                    Date:                     
                </p>
    
            </div>
            </div>
          </section>
    
      
    
        </header>
    
    

    <!-- ================== -->
    <!-- Main -->
    <!-- ================== -->
    <main>

<div class="section container is-max-widescreen">
    <div class="columns is-multiline pb-6">

        <div class="column is-full-tablet is-two-thirds-desktop">


                <section class=" has-text-black">
                    <h2 class="font1 has-text-weight-bold is-size-2 mb-3">Post Event Title</h2>
                    <p class="font2 is-size-5"><span class="has-text-weight-bold">Date: </span><span>Thursday, January 26, 2023</span></p>
                    <p class="font2 is-size-5"><span class="has-text-weight-bold">Time: </span><span>7pm - 8pm</span></p>
                    <p class="font2 is-size-5"><span class="has-text-weight-bold">Location Name: </span><span>The Hall</span></p>
                    <p class="font2 is-size-5"><span class="has-text-weight-bold">Address: </span><span>111 Main Street, Yelp, VA 22333</span></p>
                </section>
                
                <section class="block">
                <p>We will be holding a business meeeting on Thursday, January 26th at 7pm to discuss something.</p>
                </section>
        
                <section class="block">
                    <p>WYSSIWG SEction Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laudantium fugiat sit est, id vitae velit nostrum repellat et veritatis! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque ratione ab sunt tempora dignissimos eum iste eos, voluptatibus dolorum consectetur explicabo architecto eligendi non, veritatis minus quia error vel at aliquid ex. Fuga earum quam est quo in nam quod!</p>
                </section>
        
                <section class="columns mt-2">
                    <div class="colummn m-4 is-flex is-justify-content-center">
                        <a href="" class="button is-link font2 has-text-weight-bold is-large">Special Link 1</a>
                    </div>
                    <div class="colummn m-4 is-flex is-justify-content-center">
                        <a href="" class="button is-link font2 has-text-weight-bold is-large">Special Link 2</a>    
                    </div>
                </section>


        </div>



        <div class="column is-full-tablet is-one-third-desktop">
            <section class="dece-post-event-images">
                <div><img src="/images/test.jpg" class="dec-post-event-img" alt=""></div>
                <div><img src="/images/test.jpg" class="dec-post-event-img"alt=""></div>
            </section>

        </div>
    </div>

       

      


</div>
        
    </main>



<%- include('partials/footer'); -%>
