<%- include('partials/header'); -%>


        <!-- ================== -->
        <!-- Hero -->
        <!-- ================== -->
        <section class="hero is-black is-medium pt-5 dec-hero-bg-img">
            <div class="dec-hero-overlay">
            <div class="hero-body ">         
                <p class="is-size-5-mobile is-size-4-tablet has-text-centered font2 is-underlined pb-2">
                    Events
                </p>    

                <h1 class="title is-spaced has-text-centered  has-text-weight-bold font1 pt-1" id="dec-post-hero-title">Post Event
                    
                </h1>
                <p class="subtitle is-size-5-mobile is-size-4-tablet has-text-centered font2">
                    Date:                     
                </p>
    
            </div>
            </div>
          </section>
    
      
    
        </header>
    
    

    <!-- ================== -->
    <!-- Main -->
    <!-- ================== -->
    <main>


        
    </main>



<%- include('partials/footer'); -%>
