
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');






/* Mobile and All */



.hr {
    border-bottom: 1px solid lightgray;
    width: 100%;    
    margin: 1rem 0;   
    
}


/* ================================= */
/* Font */

 .font1{
    font-family: 'Poppins', sans-serif;
}


.font2{
    font-family: 'Roboto', sans-serif;
} 

.dec-nav-font{
    color: black;
}

.dec-section-title-size{
    font-size: 3rem;
}

.dec-link-black{
    color: black;
}

.dec-link-black:hover{
    color: #3273dc;
}

.dec-home-cta-box-flex p {
    font-size: 3rem;
}



/* ================================= */
/* Buttons */


#dec-hero-btn {
    font-weight: 600;
}

/* ================================= */
/* Home CTA Boxes */


.dec-home-cta-box{
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    border-radius: 1rem;
}


.dec-home-cta-box-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;    
    text-align: center;
}


/* ================================= */
/* Nav */

.navbar-burger span{    
    color: black;
    height: 3px;
    width: 23px; 
  }


.dec-nav-list {
 text-align: center;
  padding-top: 1rem;
 padding-bottom: 3rem;
}





/* ================================= */

/* Images */


.dec-object-fit{
    object-fit: cover;
}

.dec-border-radius{
    border-radius:1rem;
}

.dec-hero-bg-img {
    background-image: url('../images/test.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dec-hero-overlay {
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.dec-about-image {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    
}

.dec-home-discover-featured {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.dec-home-discover-article-images {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.dec-home-discover-article-images-2 {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}


.dec-home-ministries-image{
    background-image: url('../images/test4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dec-home-ministries-bg-image{
    background-image: url('../images/test2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.dec-home-give-bg-image{
    background-image: url('../images/test3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


.dec-ministries-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dec-ministries-page-card-wrapper{
    height: 20rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;    
    
        
}

.dec-ministries-page-card h2{
    font-size: 2rem;
}

.dec-ministries-page-card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0.5rem 0.5rem 1.5rem;
    border-radius: 1rem;    
}


.dec-dark-overlay {
    background-color: rgb(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
}

.dec-mid-overlay {
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.dec-mid-overlay-ministries{
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}


/* ================================= */

/* Colors */


.dec-bg-gray {
    background-color: #EEEEEE;
}


/* ================================= */


.dec-mission-card{
    margin: 0 auto;
    background-color: black;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
}

.dec-mission-card h3{
   color:gold
}

.dec-mission-card p{
    color: white;
 }
 

.dec-category-list-item{
    color: black;
    font-weight: 500;
}

.dec-category-list-item:hover{
    color: #485fc7;
}




.dec-founders-image{
    margin: 0 auto;
    width: 98%;
    height: 30rem;
    object-fit: cover;
    object-position: top;
    border-radius: 1rem;
}


.dec-team-image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: top;
    border-radius: 1rem;
}

.give-page-image{
    height:100%;
    width: auto;
    object-fit: cover;
    
}




.dec-post-event-img {
    display: block;
    height: 50vh;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;    
}

.dec-discover-post-feature-border {
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin-top: 0.5rem;
}


.post-featured-image-in-post{
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;

}


#dec-nav-btn-wrapper {
    padding-top: 1.5rem;
}

#dec-nav-btn {    
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    background-color: #485fc7;
}

#dec-nav-btn:hover {    
    background-color:#334ab2;
}




@media only screen and (max-width: 399px) {

    #dec-hero-title {
        font-size: 3rem;
    }

    #dec-post-hero-title {
        font-size: 2rem;
    }

    

 }






 @media only screen and (min-width: 400px) {

    #dec-hero-title {
        font-size: 4rem;
        line-height: 1.25em;
    }
    
    #dec-post-hero-title {
        font-size: 3rem;
        line-height: 1.25em;
    }
 }





@media only screen and (min-width: 768px) {

/* ================================= */
/* Nav */

    .dec-nav-list {        
        padding-top: 3rem;
        padding-bottom: 4rem;
       }
       
     

/* ================================= */

/* Font */

#dec-hero-title {
    font-size: 5rem;
    
}

#dec-post-hero-title {
    font-size: 4rem;
    
}

.dec-home-cta-box-flex p {
    font-size: 4rem;
}


/* ================================= */

/* Image */


.dec-home-discover-featured {
     height: 40vh;
}


/* ================================= */
/* Home CTA Boxes */

.dec-home-cta-box{
    width: 80%;
    height: 40vh;
    margin: 0 auto;
    border-radius: 1rem;
}


/* ==================== */





.dece-post-event-images{
    display: flex;
    flex-direction: row;
    width: 100%;    
}


.dece-post-event-images div {
    width: 100%;
}


.dec-post-event-img {
    display: block;
    height: 25vh;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    
}


}







    
@media only screen and (min-width: 1024px) {

/* ================================= */

/* Home CTA Boxes */


.dec-home-cta-box{
    width: 800px;
    height: 40vh;
    margin: 0 auto;
    border-radius: 1rem;
}



/* ================================= */

/* Nav */
    
.dec-nav-list {
    text-align: initial;
    padding-top: 0rem;
    padding-bottom: 0rem;
   }
   
   

   

/* ================================= */

/* Font */

   
#dec-hero-title {
    font-size: 5rem;
    
}

#dec-post-hero-title {
    font-size: 4rem;
    
}


.dec-section-title-size{
    font-size: 4rem;
}




/* ================================= */

/* images */

.dec-home-discover-article-images {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.dec-home-discover-article-images-2 {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.dec-ministries-page-card-wrapper{
    height: 15rem;    
        
}



/* ======================== */


.dece-post-event-images{
    display: flex;
    flex-direction: column;
    
}

.dece-post-event-images div {
    width: 100%;
    height: 100%;
}


.dec-post-event-img {
    display: block;
    height: 13rem;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    
}


#dec-nav-btn-wrapper {
    padding: 0;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;  
}

#dec-nav-btn {    
    padding: 0.5rem 1.75rem; 
}


}




@media only screen and (min-width: 1216px) {

    .dec-ministries-page-card-wrapper{
        height: 18rem;    
            
    }
    

}

